@model LegendaryBlog.Models.Post

@{
    ViewBag.Title = "Edit";
}
<form action="@Href("~/Posts/Update")" method="post" id="postForm">
    @if (Model.Id!=-1)
    {
        <input type="hidden" name="id" value="@Model.Id" />
    }
    @{ DateTime datetime = Model.DateTime.Year > 2000 ? Model.DateTime : DateTime.Now;}
    <input type="text"  name="dateTime" value="@Model.DateTime"/>Date<br />
    <input type="text" name="title" value="@Model.Title" />Title <br />
    <input type="tel" name="tags" value="@ViewBag.Tags" />tags<br />
    <textarea name="body" rows="10" cols="80">@Model.Body</textarea><br />
    <input type="submit" name="submit" value="Submit!" />
</form>