@model LegendaryBlog.ViewModels.RegisterUser
@{
    ViewBag.Title = "Register";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus?">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Document</title>

   <script>
 $("document").ready(function(){
 $(".password").focus(function(){
$(".pika1").show();
  });
  $(".password").blur(function(){
  $(".pika1").hide();
  });
$(".username").focus(function(){
$("#word").html("这个很重要哦");
});
$(".password").focus(function(){
$("#word").html("pika不看不看");
});
$("#input1").focus(function(){
$("#word").html("最后一步了哦");
});
  });
  $(document).tooltip();
    </script>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        #top_div {
            width: 100%;
            height: 51vh;
            background: #5858cf;
        }

        #bottom_div {
            width: 100%;
            height: 49vh;
            background: #98e798;
        }

        #main {
            width: 26em;
            height: 24em;
            background: white;
            margin-top: -36em;
            margin-left: 28em;
            box-shadow: 3px 3px 3px;
        }

            #main h1 {
                margin-left: 5.5em;
            }

            #main #text1 {
                margin-left: 6em;
                margin-top: 20px;
                height: 20px;
                width: 20em;
                border-radius: 5px;
                border: 1px solid #b1ebf2;
                text-indent: 3em;
                background: rgba(227, 251, 231, 0.5);
                height: 40px;
            }

        #code {
            margin-top: 20px;
            height: 20px;
            width: 10em;
            border-radius: 5px;
            border: 1px solid #b1ebf2;
            text-indent: 3em;
            background: rgba(227, 251, 231, 0.5);
            height: 40px;
            margin-left: 6em;
            position: relative;
        }

        #img1 {
            width: 40px;
            height: 40px;
            margin-left: 80px;
            margin-top: 20px;
            position: absolute;
        }

        #img2 {
            width: 40px;
            height: 40px;
            margin-left: -16.8em;
            margin-top: 5.2em;
            position: absolute;
        }

        hr {
            margin-top: 20px;
            color: #f0e4e4;
        }

        #btnSubmit {
            color: white;
            float: right;
            margin-top: 20px;
            margin-right: 31px;
            background: #8c90ec;
            border: 1px solid #9f9fcf;
            width: 70px;
            height: 37px;
        }

            #button1:hover {
                background: #53c4c6;
            }

        a {
            color: red;
            position: absolute;
            margin-top: 27px;
            margin-left: 22px;
            color: #999999;
        }

            a:hover {
                color: red;
            }

        #pika {
            width: 100px;
            height: 100px;
            position: absolute;
            margin-left: 159px;
            margin-top: -86px;
        }

        #tooltip {
            width: 206px;
            height: 136px;
            position: absolute;
            margin-top: -13em;
            margin-left: 11em;
        }

        #tooltip2 {
            width: 128px;
            height: 104px;
            position: absolute;
            margin-top: 65px;
            margin-left: 55px;
        }

        #word {
            position: absolute;
            margin-top: -7.2em;
            margin-left: 15.2em;
            font-family: "黑体";
            color: #5858cf;
        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #cfcfcf;
        }

        #valiCode {
            position: absolute;
            margin-top: 30px;
            margin-left: 28px;
        }
    </style>
</head>
<body>
    <div>
        <div id="top_div"></div>
        <div id="bottom_div"></div>
        <div id="main">
        <div id="tooltip">
            <img src="~/Content/img/tooptip.png" id="tooltip2" />
            </div>
        <div id="word">亲，pika~~<br />&nbsp;&nbsp;请完成注册</div>
        <img src="~/content/img/pika.png" id="pika" />
        <img src="~/content/img/pika1.png" id="pika" style="display:none" class="pika1" />
        <h1>注册</h1><img src="~/content/img/user.png" id="img1" />
            @using (Html.BeginForm("UserRegister", "Account", FormMethod.Post))
            { 
                @Html.TextBoxFor(m=>m.Username,new { @class="username", placeholder = "请输入用户民或邮箱" })
                @Html.ValidationMessageFor(m => m.Username)
                <img src="~/content/img/password.png" id="img2" />
                @Html.PasswordFor(m=>m.Password,new {@class="password",placeholder="请输入密码"});
                @Html.ValidationMessageFor(m=>m.Password);
                <img src="~/content/img/password.png" id="img2" />
                @Html.PasswordFor(m => m.rePassword, new { @class = "password", placeholder="请确认输入密码" });
                @Html.ValidationMessageFor(m=>m.rePassword)
                <img src="~/content/img/yanzheng.png" id="img2" />
                @Html.TextBoxFor(m=>m.Code,new {@class="code",placeholder="输入验证码" })
                @Html.ValidationMessageFor(m=>m.Code)
                <img id="valiCode" style="cursor: pointer;" class="col-md-2 control-label" src="/Account/GetValidateCode" alt="验证码" />
                <hr /><a href="#">转到登录</a>
                <input type="submit" value="注册" />
            }
        </div>
        
    </div>
</body>
</html>
